{% block chat_modal %}

<div class="ui modal" id="chatModal">
    <div class="header">
        <div id="ws-id"></div>
        <div class="aligned center">
            <h4 class="card-title text-center"> Chat App </h4>
        </div>
    </div>
    <div class="scrolling content">
        <!-- <p>Very long content goes here</p> -->
        <div id="messages">
        </div>
    </div>
    <!-- attach this to bottom of parent div  -->
    <div class="extra content">
        <form class="form" id="chat-form" action="">
            <div class="inline fields">
                <div class="ui left input">
                    <input type="text" id="chat-input" name="message" placeholder="Write your message">
                </div>
                <button id="send" type="submit" class="button ui primary">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock chat_modal %}
