<!DOCTYPE html>

<html>

<head>
    <title>Dating App</title>
    <!-- static files -->
    <link rel=icon type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/brand.css') }}">

    <!-- jquery and fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <!-- form sending / serialisation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"
        integrity="sha512-Gn0tSSjkIGAkaZQWjx3Ctl/0dVJuTmjW/f9QyB302kFjU4uTNP4HtA32U2qXs/TRlEsK5CoEqMEMs7LnzLOBsA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="header">
        <!-- menu  -->
        <div class="ui secondary menu">
            <a class="item">
                <i class="icons">
                    <i class="huge heart outline icon brand"></i> <i
                        class="vertically flipped large brand fire icon"></i>
                </i>
                <span class="ui big text brand">Brand</span>

            </a>
            <a class="item">
                Menu item 2
            </a>
            <a class="item">
                Menu item 3
            </a>
            <div class="right menu">
                <!-- the language choice button -->
                <div class="item">
                    <div class="ui floating dropdown labeled search icon button">
                        <i class="world icon"></i>
                        <span class="text">English</span>
                        <div class="menu">
                            <div class="item">Arabic</div>
                            <div class="item">Chinese</div>
                            <div class="item">Danish</div>
                            <div class="item">Dutch</div>
                            <div class="item">English</div>
                            <div class="item">French</div>
                            <div class="item">German</div>
                            <div class="item">Greek</div>
                            <div class="item">Hungarian</div>
                            <div class="item">Italian</div>
                            <div class="item">Japanese</div>
                            <div class="item">Korean</div>
                            <div class="item">Lithuanian</div>
                            <div class="item">Persian</div>
                            <div class="item">Polish</div>
                            <div class="item">Portuguese</div>
                            <div class="item">Russian</div>
                            <div class="item">Spanish</div>
                            <div class="item">Swedish</div>
                            <div class="item">Turkish</div>
                            <div class="item">Vietnamese</div>
                        </div>
                    </div>
                    <a class="ui item" id="loginButton">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- login modal -->
    <div class="ui tiny modal" id="loginModal">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <!-- <div class="ui placeholder">
                        <div class="image"></div>
                    </div> -->
                    <!-- smaller size of icon -->
                    <i class="icons">
                        <i class="large heart outline icon brand"></i> <i
                            class="vertically flipped small brand fire icon"></i>
                    </i>
                    <div class="brand content">
                        Log-in to your account
                    </div>
                </h2>
                <!-- <form class="ui form" id="loginForm" method="POST"> -->
                <form class="ui form" id="loginForm">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <!-- cant set brand colour -->
                        <div class="brand ui fluid large primary submit button">Login</div>
                    </div>
                </form>

                <div class="ui message" id="registrationLink">
                    New to us? <a href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- registration modal -->
    <div class="ui tiny modal" id="registrationModal">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <i class="icons">
                        <i class="large heart outline icon brand"></i> <i
                            class="vertically flipped small brand fire icon"></i>
                    </i>
                    <div class="brand content">
                        Register an account
                    </div>
                </h2>
                <form class="ui form" id="registrationForm">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="confirmPassword" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="brand ui fluid large primary submit button">Register</div>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('.ui.dropdown')
            .dropdown()
            ;
        $(document).on('click', '#loginButton', function () {
            $('#loginModal')
                .modal({
                    blurring: true
                })
                .modal('setting', 'transition', "scale")
                .modal('show')
        });

        $('#loginForm .submit.button')
            .api({
                url: '/login',
                method: 'POST',
                serializeForm: true,
                beforeSend: function (settings) {
                    console.log(settings)
                    return settings
                },
                onResponse: function (response) {
                    console.log("RESPONSE = ");
                    console.log(response);
                    $('#loginModal').modal('hide')
                    return response
                }
            });

        $('#registrationForm')
            .form({
                fields: {
                    match: {
                        identifier: 'confirmPassword',
                        rules: [
                            {
                                type: 'match[password]',
                                prompt: 'Please ensure the passwords match'
                            }
                        ]
                    }
                }
            })
            .api({
                url: '/register',
                method: 'POST',
                serializeForm: true,
                beforeSend: function (settings) {
                    console.log(settings)
                    return settings
                },
                onResponse: function (response) {
                    console.log("response = ");
                    console.log(response);
                    $('#registrationModal').modal('hide')
                    return response
                },
                onSuccess: function (response, element, xhr) {
                    // valid response and response.success = true
                    console.log("response = ");
                    console.log(response);
                    console.log("element = ");
                    console.log(element);
                    console.log("xhr = ");
                    console.log(xhr);
                    $('#registrationModal').modal('hide')
                },
                onError(errorMessage, element, xhr) {
                    console.log("errorMessage = ");
                    console.log(errorMessage);
                    console.log("element = ");
                    console.log(element);
                    console.log("xhr = ");
                    console.log(xhr);
                    return { errorMessage, element, xhr }
                },
            });

        $(document).on('click', '#registrationLink', function () {
            $('#registrationModal')
                .modal({
                    blurring: true
                })
                .modal('setting', 'transition', "scale")
                .modal('show')
        });
    </script>

</body>

</html>
