{% block login_modal %}

<div class="ui tiny modal" id="loginModal">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <!-- <div class="ui placeholder">
                        <div class="image"></div>
                    </div> -->
                <!-- smaller size of icon -->
                <i class="icons">
                    <i class="large heart outline icon brand"></i> <i
                        class="vertically flipped small brand fire icon"></i>
                </i>
                <div class="brand content">
                    Log-in to your account
                </div>
            </h2>
            <!-- <form class="ui form" id="loginForm" method="POST"> -->
            <form class="ui form" id="loginForm">
                <div class="ui  segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <!-- cant set brand colour -->
                    <div class="brand ui fluid large primary submit button">Login</div>
                </div>
            </form>

            <div class="ui message" id="registrationLink">
                New to us? <a href="#">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock login_modal %}
