<div class="ui card">
    <div class="image">
        <img src="/static/images/image.png">
    </div>
    <div> result </div>
    <div class="content">
        <a class="header">{{result.name}}</a>
        <div class="description">
            <div class="card_name">
                Name: {{result.name}}
            </div>
            <div class="card_age">
                Age: {{result.age}}
            </div>
            <div class="card_gender">
                Gender: {{result.gender}}
            </div>
        </div>
    </div>
</div>
